In [103]:
import pandas as pd
data = pd.read_json('contacts.json')

In [104]:
data

,Id,Email,Phone,Contacts,OrderId
0,0,gkzAbIy@qq.com,,1,
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
...,...,...,...,...,...
499995,499995,,10072395382,2,whJlUOGNqjxCRzmIRdURQvlNv
499996,499996,,571709661031,4,JqIXOONvrwvJxZqNxCYHqnrKS
499997,499997,,4541459979,2,beXCZSzcHaBwAYoDcpQqjuAFO
499998,499998,RzSDsyH@hotmail.com,98947185431,1,ehjeFACGiwrERQxbziMxwOWku
499999,499999,,880053388839,0,JibSBRgzYdfzkzbTuGUXrcvDX

In [105]:
for i in data:
    print(i)
    print(len(data[i].unique()))

Id
500000
Email
249157
Phone
190678
Contacts
5
OrderId
189303

In [106]:
249157+190678+189303

629138

In [107]:
import networkx as nx
G = nx.Graph()

In [108]:
#add nodes
for col in ['Id','Email','Phone','OrderId']:
    unique_elements = [ col+':'+str(x) for x in data[col].unique() if x!='']
    for node in unique_elements:
      G.add_node(node)

In [109]:
G.number_of_nodes()
col_names = data.columns
col_names

Index(['Id', 'Email', 'Phone', 'Contacts', 'OrderId'], dtype='object')

In [110]:
import json
data_json = json.loads(data.to_json(orient="values"))
for row in data_json:
    for index in range(len(row)):
        if index!=0 and row[index]!='' and index!=3:
            Id = 'Id:'+ str(row[0])
            node = col_names[index]+':'+row[index]
            G.add_edge(Id,node)

In [119]:
sub_graphs = nx.connected_component_subgraphs(G)
group_dict = {}
for i, sg in enumerate(sub_graphs):
#     print("subgraph {} has {} nodes".format(i, sg.number_of_nodes()))
#     print("\tNodes:", sg.nodes())
#     print("\tEdges:", sg.edges())
#     if i == limit:
#         break
    id_nodes = [x for x in sg.nodes() if x.startswith('Id')]
    id_nodes = [int(x.split(':')[1]) for x in id_nodes]
    id_nodes.sort()
    for Id in id_nodes:
#         print(Id)
#         print(id_nodes)
        group_dict[Id] = id_nodes

In [120]:
len(group_dict)

500000

In [ ]:
from tqdm.notebook import tqdm

contact_dict = {}
for _id in tqdm(group_dict):
    count = data[data.Id.isin(group_dict[_id])]['Contacts'].sum()
    contact_dict[_id] = count
len(contact_dict)

HBox(children=(FloatProgress(value=0.0, max=500000.0), HTML(value='')))

[0]

12